 html,
    body,
    .view {
      height: 100%;
      margin-top: -52px;
    }

    .intro-2 {
      background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
      background-size: cover;
    }


    .mon-titre h1 {
      color: white;
      font-size: 80px;
      padding-top: 20%;
      text-align: center;
      font-family: sans-serif;
    }